<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'logo.png') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'menuCss.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'contactCss.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'aboutCss.css') }}" />
    <title>Sip & Senpai</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#">
          <div class="brand">
            <img src="{{ url_for('static', filename = 'logo.png') }}" alt="logo" class="logo" />
            <div class="details">
              <p class="brand-name">Sip & Senpai</p>
              <p class="slogan">Coffee with a Dash of Kawaii</p>
            </div>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="fa fa-chevron-down"></i></span></button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link img-fluid active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link img-fluid" href="/menu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link img-fluid" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link img-fluid" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="footer-card">
              <h5>Contact Us</h5>
              <p>Email: info@sipnsenpai.com</p>
              <p>Phone: +911911911</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-card">
              <h5>Follow Us</h5>
              <div class="social-icons">
                <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-card news" id="W">
              <div class="card-body">
                <h5>Our Location</h5>
                <p>Visit us at our location:</p>
                <address>
                  123 Coffee Street<br />
                  Cityville, CO 12345<br />
                  United States
                </address>
                <div class="google-map">
                  <iframe width="100%" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12345.678901234567!2d-122.0840575!3d37.4220051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zN8KwMDInMzUuOCJOIDPImzA0NCwg4Kam4Kaw4Ka-4KaV4Kaw4KaT4Kao4KaC4Kay4KaX4Kao4KaK4KaZ4Kaw4Ka_4Kak4Kaw4Kap4Ka6!5e0!3m2!1sne!2snp!4v1611081449241!5m2!1sne!2snp" allowfullscreen=""></iframe>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="footer-card">
              <h5>Customer Reviews</h5>
              <p>Read what our customers are saying about us.</p>
              <button type="button" class="btn btn-custom" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">View Reviews</button>
            </div>
          </div>
        </div>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-info">
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endwith %}

      <div class="container">
        <div class="row">
          <p class="text-center copyright">&copy; 2023 Sip & Senpai</p>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const navbarToggler = document.querySelector('.navbar-toggler')
        const navLinks = document.querySelector('.navbar-collapse')
      
        navbarToggler.addEventListener('click', function () {
          if (navLinks.style.display === 'block') {
            navLinks.style.display = 'none'
          } else {
            navLinks.style.display = 'block'
          }
        })
      
        /* const subscriptionForm = document.getElementById('subscription-form')
                          const emailInput = document.getElementById('email11')
                          const successAlert = document.getElementById('success-alert')
                        
                          subscriptionForm.addEventListener('submit', function (e) {
                            e.preventDefault()
                            const email = emailInput.value
                            if (validateEmail(email)) {
                              successAlert.style.display = 'block'
                              emailInput.value = ''
                            } else {
                              alert('Please enter a valid email address.')
                            }
                          })
                        
                          function validateEmail(email) {
                            const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
                            return regex.test(email)
                          } */
      })
    </script>
  </body>
</html>
